/* Cards.css */

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 5rem;
}

.cards-heading {
  font-family: "Times New Roman", serif;
  margin-bottom: 2rem;
  color: rgb(185, 14, 79);
  font-size: 4rem;
  font-weight: bold;    /* makes text bold */
  font-style: italic;   /* makes text italic */
}


.card-item {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.card-text {
  flex: 1;
  min-width: 300px; 
  font-family: "Times New Roman", serif;
  color: #333;
  line-height: 1.6;
}

.card-title {
  margin-bottom: 1rem;
  color: rgba(9, 8, 9, 1); 
  font-size: 2rem; 
  font-weight: bold;
}

.card-description {
  margin-bottom: 1.5rem;
  color: #555;
}

.card-image-container {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-width: 300px;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}
