.staff-list-container {
  padding: 20px;
}

.staff-list-title {
  margin-bottom: 20px;
  font-size: 24px;
}

.staff-list-table {
  width: 100%;
  border-collapse: collapse;
}

.staff-list-table th,
.staff-list-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.staff-list-table th {
  background-color: #f2f2f2;
}

.btn-delete {
  padding: 5px 10px;
  background-color: rgb(185,14,75);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #000000;
}
