.register-page-container {
  display: flex;
  height: 100vh;
  font-family: "Times New Roman", serif;
}

/* Left Side Image */
.register-image {
  flex: 0.5;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.register-image img {
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.register-info {
  font-size: 1.1rem;
  color: #333;
  text-align: center;
  line-height: 1.5;
}

/* Right Side Form */
.registration-form-container {
  flex: 0.5;
  max-width: 500px;
  padding: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.registration-form-heading {
    margin-top: 100px;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  color: rgb(185,14,79);
  margin-bottom: 2rem;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.form-input, .form-select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-input:focus, .form-select:focus {
  outline: none;
  border-color: rgb(185,14,79);
}

.btn-register {
  background-color: rgb(185,14,79);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 10px;
}

.btn-register:hover {
  background-color: #0527cd;
}

.form-footer {
  text-align: center;
  margin-top: 10px;
  font-size: 0.95rem;
}

.form-footer a {
  color: rgb(185,14,79);
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}
