/* Card Section */
.card-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.card-title {
  font-family: "Times New Roman", serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.card-description {
  font-family: "Times New Roman", serif;
  font-size: 1rem;
  color: #1d1c1c;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.card-button {
  background: rgba(4, 4, 4, 1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}