/* Container for all sections */
.images-container {
  margin-left: 7rem;
  margin-right: 7rem;
}

/* Flex container for the first and second sections */
.images-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  align-items: center;
}

/* Image Styling */
.image-container {
  flex: 0 0 30%;
  padding-right: 1rem;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Content Styling */
.content-container {
  flex: 1;
  padding-left: 1rem;
}

.content-container h3 {
  font-family: "Times New Roman", serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(185, 14, 79);
}

.content-container p {
  font-family: "Times New Roman", serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #000000ff;
}

.content-container.secondary p {
  color: #0c0c0cff;
}
